.card {
	background-color: #eee;
	border: solid 2px;
	position: relative;
	border-radius: 20px;
	width: 120px;
	height: 180px;
	margin: 10px;
	display: inline-block;
	text-align: center;
}

.card:hover {
	background-color: #ccc;
}

.card .denomination {
	top: 10px;
	font-weight: bolder;
	font-family: arial;
	position: absolute;
	font-size: 450%;
	width: 100%;
}

.card .suit {
	bottom: 10px;
	font-weight: bolder;
	font-family: arial;
	position: absolute;
	font-size: 500%;
	width: 100%;

}


/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */

#cardSelectionID {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: green;
	user-select: none;
	-moz-user-select: none;
}

#cardSelectionID .titleSelection {
	font-size: 400%;
	font-weight: bolder;
	text-align: center;
}

#cardSelectionID .denominationSelection div,
#cardSelectionID .suitSelection div
{
	position: relative;
	display: inline-block;

	width: 130px;
	line-height: 130px;
	margin: 10px;

	font-size: 500%;
	font-weight: bolder;
	text-align: center;

	background-color: #eee;
	border-style: solid;
	border-width: 2px;
	border-color: black;

	border-radius: 10px;
}

#cardSelectionID [data-card-denomination].selected,
#cardSelectionID [data-card-suit].selected {
	background-color: #aaa;
}
